* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.left-sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.left-sidebar a, .header-arrow {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.left-sidebar a:hover, .user-info:hover, .user-info-post:hover, .header-arrow:hover {
    background-color: #333;
    text-decoration: none;
    color: white;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.icon {
    margin-right: 10px;
}

.post-button {
    padding: 10px 15px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
}

.post-button:hover {
    background-color: #ddd;
}

.big-post-button {
    margin: 20px 0;
    padding: 15px 15px;
    font-size: 18px;
}

.user-info, .user-info-post, .user-info-profil {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.user-info, .user-info-post {
    cursor: pointer;
}

.user-info {
    justify-content: space-between;
}

.user-info-post, .user-info-profil {
    width: fit-content;
}

.retweet-profil-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #aaa;
}

.retweet-icon-profil {
    margin-right: 5px;
}

.post-retweet-container {
    padding: 15px;
    margin: 15px;
    border: 1px solid #333;
    height: fit-content;
    border-radius: 15px;
}

.avatar {
    background-color: #444;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 10px;
}

.username {
    font-size: 16px;
    font-weight: bold; 
}

.container {
    width: 600px;
    margin-right: 15px;
    height: 100vh;
}

.container-border {
    border: 1px solid #333;
    height: fit-content;
}

.header {
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #333;
}

.header-arrow {
    text-decoration: none;
    color: white;
}

.header-tweet, .header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons {
    margin-left: 60px;
}

.image-input {
    display: none;
}

.image-label {
    cursor: pointer;
    margin-right: 10px;
}

.bi-image {
    color: blue;
}

.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.inputRt {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.bi-heart, .bi-chat, .icon-retweet {
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}

.bi-heart:hover {
    color: red;
}

.bi-heart-fill {
    color: red;
    font-size: 20px;
    margin-right: 5px;
}

.bi-chat:hover {
    color: blue;
}

.icon-retweet:hover {
    color: lightgreen;
}

.retweet {
    color: lightgreen;
    font-size: 20px;
    margin-right: 5px;
}

.content {
    padding: 15px;
    border-bottom: 1px solid #333;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.item {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
    align-items: center;
}

.tab-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 0 10px ;
    border-bottom: 1px solid #333;
}

.tab-menu button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.tab-menu button:hover {
    background-color: #333;
}

.tab-menu button.active {
    border-bottom: 2px solid #007bff;
}

.right-sidebar {
    width: 400px;
    max-height: 100vh;
}

.search-bar {
    display: flex;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #333;
}

.search-bar input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

.search-bar i {
    margin-right: 10px;
}

.card {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 10px;
}

.card-content { 
    margin-bottom: 15px;
}

.suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.link-more {
    text-decoration: none;
}

.trends {
    list-style: none;
    padding: 0;
    margin: 0;
}

.trends li {
    margin-bottom: 15px;
}

.trends li span {
    display: block;
    color: #aaa;
    font-size: 12px;
}

.trends li .title {
    font-weight: bold;
}

.post-image {
    max-width: 475px;
    max-height: 550px;
    margin-top: 10px;
}

.butcomment, .butlike, .butretweet {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.divretweet{
    display: flex;
    height: 20px;
    width: 20px;
}

.comment, .comment-text {
    display: flex;
    align-items: center;
    margin: 10px 0;
}